.card {
  border-radius: 2px;
  height: 200px;
  margin: 5px;
  position: relative;
  width: 220px;
  box-shadow: 0 3px 6px #999, 0 3px 6px #999;
  text-align: center
}

.card > .img-container {
  height: 60%;
  overflow: hidden;
  text-align: center;
  margin-top: 20px;
}

.card > .img-container > img {
  width: 60%
}

.card > .content {
  padding-left: 1rem;
  padding-right: 1rem;
  font-size: 15px;
}

.card > .content > ul {
  list-style-type: none;
  padding: 0; 
}

.card > .content > ul > li {
  margin-top: 18px;
}